<%= render 'header' %>

<div id="image-titre">
	<%= image_tag "image-titre.jpg", style: 'height:100%;width:100%;' %>
</div>

<div class="conteneur">
	<div class="ss-conteneur-i fond-descendu1">
		<%= image_tag "ordis.png" %><%= image_tag "ordis.png" %>
	</div>

	<div class="ss-conteneur-m marge">
		<h1>Rachat / Récupération d'ordinateurs</h1>
		<p class="bold">Entreprises</p>
		<p>Vous souhaitez renouveler votre parc d'ordinateurs, mais vous n'envisagez pas de les jeter.</p>
		<p>Nous vous rachetons les ordinateurs obsolètes et vous en débarrassons rapidement.</p>
		<p class="bold">Particuliers</p>
		<p>Nous vous débarrassons de vos ordinateurs en panne</p>
	</div>
</div>

<div class="conteneur">
	<div class="ss-conteneur-m marge">
		<h1>Réparation</h1>
		<p class="bold">Entreprise ou particulier</p>
		<p>Votre ordinateur vient de tomber en panne et vous souhaitez récupérer vos données.</p>
		<p>Nous nous déplaçons pour vous faire un devis.</p>
	</div>

	<div class="ss-conteneur-i fond-descendu2">
		<%= image_tag "reparation.png", style: 'height:100%;width:100%;' %>
	</div>
</div>

<div class="conteneur">
	<div class="ss-conteneur-i fond-descendu2">
		<%= image_tag "revente.jpg", style: 'height:100%;width:100%;' %>
	</div>

	<div class="ss-conteneur-m marge">
		<h1>Vente d'ordinateurs d'occasion</h1>
		<p>Besoin d'ordinateurs à petit prix ?</p>
		<p>Nous réparons, vérifions et rafraichissons de vieux ordinateurs que nous revendons à des prix accessibles aux budgets serrés.</p>
	</div>
</div>

<%= render 'footer' %>
